html,
body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color: gray;
}

canvas {
  display: block;
}

H1 {
  color: blue;
  text-align: center;
  font-size: 500%;
}
